.vscode
__pycache__
*.aux
*.out
*.synctex.gz
*.log
*.pdf 
.DS_Store
.ipy*
*.png
.ipynb_checkpoints/*
*.bbl 
*.fls 
*.spl 
*.fdb_latexmk
*.csv
*.txt 
.DS_Store
*.blg
latexdiff-1.3.3
*.bcf 
*.xml 
*.eps 